body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}
h2 {
  /* font-family: "Montserrat"; */
  font-size: 2.7rem;
  line-height: 1.5;
  width: 70%;
  margin:auto;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height:1.5;

}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 3% 5%;
}

/* Sections */
.green-section {
background-color: #DBE9B7;
}

.yellow-section {
background-color: #FCFCF6;
}

.pink-section {
background-color: #F3DADA;
}

/* First Section */
.header {
  background-image: url(https://picsum.photos/seed/picsum/1900/1250);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position:center center;
  background-size: cover;
  padding-top: 20.5rem;
  padding-bottom: 10rem;
}

.cta-btn {
  margin: auto;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* Navigation Bar */
#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
  padding-left:4rem;
  padding-right:4rem;
}

#cursive {
font-family: 'Dancing Script', cursive;
font-size: 40px;

}

a#cursive.navbar-brand.js-scroll-trigger{
    font-family: 'Dancing Script', cursive;
    /*font-size:30px;*/

}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #f4623a;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 601px) {
  a#cursive.navbar-brand.js-scroll-trigger {
    font-size: 25px;
  }
}

/* @media screen and (max-width: 1200px){
  .navbar {
    padding:0 0 1rem;
    align-items: center;
  }

  .navbar-brand {
    font-size: 0.5rem;
    font-weight: bold;
  }
} */
@media (min-width: 1200px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #f4623a;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
  }
}

.navbar {
  padding:0 0 2rem;
  align-items: center;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item{
  padding:0 5px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/*Details cards*/

#about {
  position: relative;
  padding: 100px;
  text-align: center;
}

about-details {
    background: #eee !important;
}

#about-details {
    padding: 60px 0;

}

#about-details .card {
    border: none;
    background: #ffffff;
}

.about-img {
  padding-bottom: 2rem;
}
.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #ef8172 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #ef8172 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* Features section */
#treatments {
  position: relative;
  padding: 100px;
  text-align: center;
}

/* .feature-box {
  text-align: center;
  padding: 5%;
} */

.treatment-title {
  font-size: 1.5rem;
}

.treatment-item {
  padding: 4.5%;
}

.treatment-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.treatment-icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin:20px;
}

.carousel-item {
  padding: 7% 15%;

}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 30px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;


}

.pricing-column {
  padding-bottom: 2rem;
}

/* CTA section */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 2.8rem;
  line-height:1.5;
}

/* Footer Section */
#footer {
  padding: 1% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}
@media (max-width:1028px){
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#announcement {
  color: black;
  text-align: center;
  border-radius: 2px; /* Rounded borders */
  position: fixed; /* Sit on top of the screen */
  z-index: 1;
  bottom: 5px;
  transition: 0.5s;
}

.full-width {
  width: 100%;
}

#announcement-collapsed {
  cursor: pointer;
  padding: 0.50rem;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  display: none;
}

.alert-warning {
    color: black;
    background-color: yellow;
    border-color: yellow;
}
